.react-tel-input input {
    width: 100% !important;
   
} 
.react-tel-input .selected-flag {
    width: 45px !important;
}
/* .react-tel-input .form-control{

} */
.country-list {
    text-align: start!important;
}